
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h3>@ViewBag.GuidId</h3>

<p>Use this area to provide additional information.</p>
<button class="btn btn-primary" id="ajaxBtn">Is Validation working</button>

<script>
    var AjaxValidation = {};
    $(document).ready(function () {
        AjaxValidation.Scripts = {
            Init: function () {
                $(document).on("click", "#ajaxBtn", AjaxValidation.Scripts.ValidateAjaxRequestByAddingHeader);
                $.ajaxSetup({ cache:false });
            },
            ValidateAjaxRequestByAddingHeader: function () {
                $.ajax({
                    url: "ValidateAjaxRequest/Home",
                    headers: {
                        "VerificationToken": $("#forgerToken").val()
                    }
                });
            }
        }
        AjaxValidation.Scripts.Init();
    });
</script>